@import url('https://fonts.cdnfonts.com/css/manrope');

:root {
    --white: 255, 249, 251;
    --night-black: 22, 18, 19;
}

/* General Styling */
html,
body,
header {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Manrope', sans-serif;
    color: rgb(var(--white));
    overflow: hidden;
}

h1 {
    margin-bottom: 0;
}

p {
    font-size: 24px;
    margin: 0;
}

button {
    padding: 1em;
    width: 5em;
    height: 5em;
    border: 0;
    border-radius: 25%;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

button.secondary {
    background-color: transparent;
    color: rgb(var(--white));
    border: 5px solid rgba(var(--white), 0.90); 
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
    transform: scale(0.99);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(var(--white));
    color: rgb(var(--night-black));
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1000;
    top: 116%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity ease-in-out 0.1s;
}

.tooltiptext {
    z-index: 1001;
    user-select: none;
    cursor: default;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.tooltiptext:hover {
    visibility: hidden;
    opacity: 0;
}

/* Content */

header {
    position: relative;
    min-height: 100%;
    background: url("/assets/img/background.png") center / cover no-repeat;
    margin: 0;
}

header .content {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img.logo {
    border-radius: 100%;
    height: 12em;
    width: 12em;
    transition: ease-in-out 0.1s;
}

img.logo:hover {
    transform: scale(1.01);
}

.desc {
    text-align: center;
}

.highlight {
    background: linear-gradient(130deg, #AA4465 -8.07%, #FF495C 75.11%);
    font-weight: 600;
    background-clip: text;
    -webkit-background-clip: transparent;
    -webkit-text-fill-color: transparent;
}

.button-container {
    display: flex;
    align-items: center;
    margin-top: 2em;
    gap: 2em;
}

header #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    backdrop-filter: blur(8px) brightness(69%);
}
